@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&display=swap');

/* --------------------
General Styling
---------------------*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
}


:root {
    --background-color: #280C08;
    --background-color-variant: #2c2c6c;
    --primary-color: #FC5555;
    --primary-color-variant: rgba(77,181,255,0.4);
    --color-white: #fff;
    --color-light: #ffffff99;
    --transition: all 400ms ease; 
    --container-width-large: 75%;
    --container-width-medium: 86% ;
    --container-width-small: 90%;
}


html {
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    display: none;
}


body {
    font-family: 'IBM Plex Mono', monospace;;
    background: var(--background-color);
    color: var(--color-white);
    line-height: 1.65;
    background-image: url(../src/graphics/background3.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}


.container {
    width: var(--container-width-large);
    margin: 0 auto; 
}

h1 {
    font-size: 4rem;
}


h1, h2, h3, h4, h5 {
    font-weight: 500;
}


section {
    margin-top: 8rem;
}


section > h2, section, h5 {
    color: var(--color-white);
    text-align: center;
}


section > h2 {
    color: var(--primary-color);
    margin-bottom: 3rem;
}


.text-light {
    color: var(--color-white);
}


a {
    color: var(--primary-color);
    transition: var(--transition);
}


a:hover {
    color: var(--color-white);
}


.btn {
    width: max-content;
    display: inline-block;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 10rem;
    cursor: pointer;
    padding: 0.75rem 1.2rem;
    transition: var(--transition);
}


.btn:hover {
    background: var(--primary-color);
    color: var(--color-white);
    border-color: transparent;
}


.btn-primary {
    background: var(--color-primary);
    color: var(--background-color);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}


/* -------------
tablet support
------------- */

@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-medium);
    }
}

section {
    margin-top: 6rem;
}


/* ------------
phone support
-------------*/
@media screen and (max-width: 600px) {
    .container{
        width: var(--container-width-small);
    }
}

section > h2 {
    margin-top: 2rem;
}